@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500&display=swap');

body {
    font-family: 'Barlow', sans-serif;

}

:root {
    --primary: #FF4D01;
}

.header-top {
    width: 100%;
    height: 100vh;
    background: url("../image/Frame.png") no-repeat center center / cover;
}

header nav {
    width: 100%;
}

header nav ul {
    width: 100%;
}

header nav ul li a {
    color: white;
    font-size: 18px;
}

header nav ul li .nav-btn {
    padding: 17px 24px 19px 24px;
    background: var(--primary);
}

header .headerH1 {
    font-size: 72px;
    line-height: 84px;
    font-weight: 400;
    color: #fff;
}

.mt-165 {
    margin-top: 165px;
}

header .header-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    text-align: center;
    word-spacing: 5px;
    margin-top: 20px;
}

.btn-primary {
    font-size: 18px;
    font-weight: 400;
    padding: 25px 38px 26px 37px;
    ;
    background: var(--primary);
    color: #fff;
    transition: all 500ms;
}

.btn-primary:hover {
    background: transparent;
    border: 2px solid #fff;
}

.btn-light {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding: 25px 38px 26px 37px;
    background: transparent;
    border: 2px solid #fff;
    transition: all 500ms;
}

.btn-light:hover {
    background: var(--primary);
    border: 2px solid var(--primary);
}

.mt-35 {
    margin-top: 40px;
}

/* section starting ====================================== */

section {
    width: 100%;

}

.mt-144 {
    /* margin-top: 144px; */
    margin-top: 9rem;
}

.card-img {
    position: relative;
}

.card-img img {
    width: 100%;
}

.card-img .square {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 204px;
    height: 204px;
    border: 3px solid var(--primary);
}

.sectionH6 {
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 15px;
    margin-top: 40px;

}

.section-H2 {
    font-size: 54px;
    font-weight: 400;
    line-height: 61.99px;
    color: #000;
}

.section-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30.01px;
    color:#605E5D;
    margin-top: 19px;
}
.mt-57{
    margin-top: 57px;
}
.section-count{
    font-size: 107px;
    font-weight: 400;
    line-height: 84.02px;
    color: #000;
    position: relative;
}
.section-count[hello]::before{
    content: attr(hello);
    color: var(--primary);
}
.section-count span{
    color: var(--primary);
}
.section-count[hello1]::after{
    content: attr(hello1);
    color: #989899;
    font-size: 24px;
    /* line-height: 20; */
    /* display: inline-block; */
    position: absolute;
    left: 15px;
    bottom: -70px;
    
    /* top: 0; */
    
}
.btn-section{
    font-size: 18px;
    font-weight: 400;
    line-height: 20;
    text-align: center;
    font-style: normal;
    color: #191919;
    padding: 27px 40px 28px 39px;
    border: 3px solid #000;
}